# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Rr]ecording/
[Aa]sset/

# Unity meta files for non-asset files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity crash reports
sysinfo.txt
crashlytics-buildid.txt

# IDE / generated project files
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.unityproj
*.booproj
.vs/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Builds
*.apk
*.aab
*.unitypackage
*.app
